body,html
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;

}

.header{ 
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
                       /* always jeno upore stick hoye thake*/

}

.progress-bar-container{
    width: 100%;
    height: 4px;
    background: #282e34;

}

.progress-bar{

  height: 4px;
  background: #F0433A;
  width: 0%;

}

.image1,.image2,.image3
{
    position: relative;
    opacity:0.70;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;


    /*parallax*/

    background-attachment:fixed;

}

.image1
{

    background-image: url(../image/sunset.jpg);
    min-height: 100%;
}

.image2
{

    background-image: url(../image/fitness-two.jpg);
    min-height: 400px;
}





.image3
{

    background-image: url(../image/fitness-three.jpg);
    min-height: 400px;
}

.section{

    text-align: center;
    padding: 50px 80px;
}


.section-light
{
background-color: #f4f4f4;
color: #666;
}





.section-dark
{
    background-color: #282e34;
    color: #ddd;
}






.text1
{
 position: absolute;
 top:50%;
 width: 100%;
 text-align: center;
 color: #000;
 font-size: 27px;
 letter-spacing: 8px;
 text-transform: uppercase;
 
}


.border
{

    background-color: #111;
    color: #fff;
    padding: 20px;
}

  .border.trans
{
    background-color: transparent;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #232427;

}

.container .card
{
    position:relative;
    min-width: 225px;
    height: 340px;
    box-shadow:  inset 5px 5px 5px rgba(0,0,0,0.2),
                 inset -5px -5px 15px rgba(255,255,255,0.1),
                 5px 5px 15px rgba(0,0,0,0.3),
                 -5px -5px 15px rgba(255,255,255,0.1);

    border-radius:15px;
    margin: 70px;
    
}

.container .card .box
{
    position: absolute;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px (0,0,0,0.5);
    transition: .6s ease-out ;
    cursor:pointer;
    height: 300px;
    min-width: 200px;
    
}


.container .card .box:hover{
    transform:translateY(-50px);
    box-shadow: 0px 40px 70px rgba(0,0,0,0.5);
}


.container .card .box .content{
    padding: 20px;
    text-align: center;
}

.container .card .box .content h2

{
    position: absolute;
    top:-20px;
    right:-7px;
    font-size: 8em;
    color:rgba(255, 255, 255,.05);
}

.container .card .box .content h3{
    font-size: 1.8em;
    color:rgba(255, 255, 255,.5) ;
    z-index: 1;
}






























/*
body{
    background-color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    
    
}

.begin{

    padding: 1.5em;
    background-color: cornflowerblue;
    margin:1em 1em 1em 1em;
    color: aliceblue;
    background: linear-gradient(90deg,cornflowerblue,transparent);
    position: relative;

    
}

.main_div
{
    display: flex;
}

.filler
{
    background-color: transparent;
    width: 300px;
    min-width: 20px;
}

.regular
{
    
    height: 15em;
    width: 15em;
    border-radius: 30%;
    position: relative;
    border-style: ridge;
    
}

#st_title
{
    text-align: center;
    margin: 30px 10px 10px 10px;
    background-color: teal;
    border-radius: 20%;

}

#st_box
{
    left: 2.5em;
}

#main-div-for-image1{
    background-image:url(../image/Fitness_track_image.jpg);
    outline: 2px solid;
    background-size: 100%;
    background-position: top -50% ;
}

#st_box:hover
{
  
    animation: box-anim 450ms ease-in forwards;
    
}

#rd_box
{
    right: 2.5em;
}

@keyframes box-anim
{
    100%
    {
        background-color:rgb(61, 116, 218);
        border-color: white;
        height: 16em;
        width: 16em;
        border-radius: 30%;
        transition:ease-in
    }
}

*/